[Unit]
Description=mail server

[Service]
Type=simple
ExecStart=/home/mustafa/project/mail-server/main
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
